@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color:aliceblue;
  font-size: 16px;
  line-height: 1.5;
}

.white-container {
border-radius: 10px;
width: 800px;
background-color:white;
padding: 20px;
margin: 30px auto;
box-shadow: 0 15px 35 px rgba(50, 50, 93, 0.1);
text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

#circle-picture {
border-radius: 250px;
width: 250px;
height: auto;
}

h1 {
  color:brown;
  border-color: crimson;
  text-shadow: 0 0 2px rgb(203, 3, 3);
   -webkit-text-stroke: 1px crimson;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  line-height: 2;
}

h2 {
  color: #202540;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  line-height: 2;
}

#button-red {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  background-color: crimson;
  color:white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

#button-red:hover {
  background-color:white;
  color:crimson;
  font-weight: bold;
  transition: 0.3s ease;
}

.fa-github {
  color:crimson;
}

.fa-github:hover {
  color:darkred;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.fa-linkedin {
  color:crimson;
}

.fa-linkedin:hover {
  color:darkred;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

#social-media-follow-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 32px;
}
/*testing the push
